/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09.05.2018., 23.55.36
    Author     : WIN10_SHOMI
*/
*{
    margin: 0px;
    padding: 0px;
}
html,body{
   height: 100%;
   background:whitesmoke;
    
}
#container{
   min-height: 100%;
}
#main{
   overflow:auto;
   padding-bottom:50px;
  
}

#futer {
   
    background:linear-gradient(lightgrey, darkgray);
   padding-right: 0px;
   padding-left: 0px;
    position: absolute;
     margin-top: -100px;
    clear:both;
    max-width: 2000px;
}
#fut{
  background:linear-gradient(lightgrey, darkgray);  
}

.futerfont{
  color:green;
 
}

label {
    cursor: default;
}

.sidenav{
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 22px;
    
    display: block;
    transition: 0.3s;
    border-bottom-right-radius: 3px;
    background: #c8e0ac;
    border-image-width: 23px;
    
}
.sidenav a:hover{
    color: green;
    
}



nav a {
color: darkgreen;
font-size: 25px;

}
nav a:hover{
    color: green;
   
}

#fl{
   color: darkgreen; 
}
.card-deck{
    padding-top: 0px;
   padding-bottom: 50px;
}
#3{
   color: darkgreen; 
}
#de{
   padding-bottom:50px;
   
}
.media{
   padding-bottom:170px;
   
}
#cnfdtl{
   padding-bottom:220px;
   
}
#ajsrch{
   padding-bottom:170px;
   
}
#chpass{
    padding-bottom:260px;
   padding-right: 500px;
   padding-left: 500px;
   padding-top:80px;
}
#arewminv{
    padding-top:40px;
    padding-bottom:150px;
   
   
   padding-left: 350px;
}
#adrewinv{
    padding-top:40px;
    padding-bottom:150px;
}
#addnewconf{
    padding-top:40px;
    padding-bottom:150px;
}